p {
    font-family: Arial;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}

.one {
    font-size: 115px;
    text-align: center;
    margin: 0;
}

img {
    border: 3px solid lightsteelblue;
    width: 145px;
}

figure {
    text-align: center;
}

figcaption {
    font-weight: bold;
    font-family: Arial;
    padding-top: 15px;
    padding-bottom: 20px;
}

h2 {
    font-family: Arial;
    font-weight: normal;
    font-size: 38px;
    border-top: 1px solid black;
    margin: 0px 0px 0px 0px; 
    padding: 20px 0px 0px 0px;
}

div {
    margin: auto;
    text-align: center;
    width: 250px;
    display: inline-block;
    padding-bottom: 20px;
}

#blue {
    background-color: rgb(128, 193, 255);
}

#yellow {
    background-color: rgb(255, 242, 204);
}

#red {
    background-color: rgb(255, 153, 153);
    border-bottom: 1px solid black;
}

#centering {
    margin-left: auto;
    margin-right: auto;
    display: block;
}