.one {
    border: 1px solid black;
    padding: 3em;
    margin:  1em;
    margin-bottom: 0em;
}

.two {
    border: 1px solid black;
    margin-bottom: 5em;
    margin-right: 5em;
    margin-left: 5em;
}

.three {
    border-left: 3px solid black;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
    margin-bottom: 8em;
}

.four {
    border: 5px dashed red;
    border-radius: 1em;
}