p {
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
    font-size: 20px;
}

table, caption {
    border-collapse: collapse;
    border: 1px solid black;
    margin: auto;
}

th, td {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#red {
    background-color: red;
    color: white;
}

.bold {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    border-right: 1px solid gray;
}

caption {
    font-family: Arial;
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 2pt;
    text-transform: uppercase;
}

#background_gray {
    background-color: gainsboro;
}
