#floating {
    float: left;
}

table {
    border: 1px solid black;
}

#bio {
    font-family: Helvetica;
    padding-left: 40px;
    font-size: 50px;
    margin: 0px 0px 0px 0px;
}

caption, table {
    border-collapse: collapse;
    font-family: Calibri;
}

#blue {
    background-color: lightblue;
}

table, h4 {
    margin-left: 40px;
}

tbody, #address{
    background-color: rgba(100, 45, 122, 0.3)
}

figure {
    margin-top: 25px;
    border: 2px dashed black;
    padding: 10px;
}

body {
    background-color: pink;
}

.databox {
    background-color: lightblue;
}

p, h4 {
    font-family: Garamond;
}

ul li {
    color: steelblue;
    font-size: 16px;
    font-family: Calibri;
}

figcaption {
    font-family: Calibri;
}

p::first-letter {
     font-size: 25px;
     color: rgb(100, 45, 122);
}
