body {
    font-family: Arial, Verdana, sans-serif;
    background-color: rgb(184, 158, 151);
}

h1 {
    color: blue;
    font-weight: bold;
    font-size: 4.0em;
}

p {
    color: red;
    font-family: Helvetica;
    text-indent: 50px;
}

li {
    color: rgb(76, 76, 76);
    font-weight: bold;
}

ul, ol {
    font-size: 0.8em;
    border-style: dashed;
    text-indent: 70px;
}

figcaption {
    font-size: 12px;
}

.copyright_notice {
    font-size: 0.8em;
    color: rgb(85,107,47);
}

#special {
    font-size: 0.8em;
    color: yellowgreen;
    font-style: italic;
    border-left: 2px solid black;
    margin-left: 40px;
    padding-left: 10px;
}

#basic {
    font-family: "Courier New", Courier, monospace;
    font-size: 14px;
    color: black;
}