body {
    font-family: Calibri;
    background-color: rgba(231, 24, 56, 0.3);
}

input[type="text"], input[type="number"] {
    color: green;
}

#paybox {
    background-color: rgba(120, 123, 144, 0.5);
    border-radius: 20px;
}

input {
    margin-bottom: 5px;
}

legend {
    text-align: center;
    font-weight: bolder;
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 0;
}

textarea {
    display: block;
}

fieldset {
    border-radius: 15px;
    border: 3px dotted white;
}

input[type="submit"]{
    font-weight: bolder;
    font-family: Garamond;
    border-radius: 15px;
    
    display: block;
    margin-right: auto;
    margin-left: auto;
    
    margin-top: 15px;
}

input[type="text"], input[type="number"], input[type="email"] {
    display: block;
}

input[type="radio"] {
    margin-left: 20%
}

.selite, input, textarea {
    text-align: center;
    margin: auto;
}

.checklabels {
    text-align: center;
    margin: auto;
}

#special {
    text-align: center;
    margin: auto;
}